<footer class="footer">
  <small>
    The <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">Authentication Project</a>
    by Anna-Myzukina and Emogene </a>
       
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/Anna-Myzukina">Anna-Myzukina's GitHub</a></li>
       <li><a href="https://github.com/Elukoye">Elukoye's GitHub</a></li>
    </ul>
  </nav>
</footer>